[winUpdater]
    recentlySeenVersion = {{version}}
[core]
    quotepath = false # 不会对 0×80 以上的字符进行 quote
[user]
    name = {{username}}
    email = {{emailname@email.com}}
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
[gui]
    encoding = utf-8
[i18n]
    commitencoding = utf-8
[svn]
    pathnameencoding = utf-8
[credential]
    helper = store
[alias]
    br = branch -vv
    co = checkout
    rb = rebase
    mg = merge --no-ff
    st = status --untracked-files --show-stash
    # 克隆时初始化子模块
    cr = clone --recursive
    # 拉取所有分支 HEAD 信息
    fa = fetch --all --prune
    # 切换到 master 分支
    com = checkout master
    # 切换到 develop 分支
    cod = checkout develop
    # 新建分支
    new = checkout -b
    # 基于 master 分支变基
    rbm = rebase master
    # 基于 develop 分支变基
    rbd = rebase develop
    # 获取远程分支到本地分支
    # git checkout -b origin/remoteName localName
    # 拉取远程分支并新建本地同名分支
    track = checkout --track
    # 当前分支重命名
    rename = branch --move
    # 查看所有分支
    bra = branch -vv -a
    # 删除分支
    brd = branch -d
    brD = branch -D
    # 强制推送
    pf = push --force
    # 安全强制推送
    pfw = push --force-with-lease
    # 当前分支日志
    lg = log --color --graph --pretty=format:'%Cred%h%Creset %s %Cblue<%an>%Cgreen(%ad, %ar) %C(yellow)%d' --date=format:'%Y-%m-%d %H:%M' --abbrev-commit
    # 所有分支日志
    lga = log --color --graph --pretty=format:'%Cred%h%Creset %s %Cblue<%an>%Cgreen(%ad, %ar) %C(yellow)%d' --date=format:'%Y-%m-%d %H:%M' --abbrev-commit --all
    # 删除 untracked 文件及文件夹
    cfd = clean -fdq
    # 显示将要删除的 untracked 文件及文件夹
    cfdn = clean -fdn
    # 撤销
    rs = reset
    rsh = reset --hard
    # 上一个
    last = reset HEAD~1
    back = reset --hard HEAD~1
    # 暂存
    tmp = commit -a -m 'tmp'
    # cherry-pick
    cp = cherry-pick
    # 存储
    sl = stash list --pretty=format:'%Cred%h%Creset%C(yellow)(%gd)%Creset %s'
    ss = stash show
    sa = stash apply
    sa1 = stash apply stash@{1}
    sp = stash pop
    sp1 = stash pop stash@{1}
    sd = stash drop
    sd1 = stash drop stash@{1}
    save = stash save --include-untracked
    temp = stash save --include-untracked '暂存'
    # 对比两个分支
    dif = diff --stat
    # 与 develop 分支对比
    difd = diff --stat develop
    # 从object数据库中删除所有不可达的object
    clear = gc --prune=now --aggressive
